.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 8px;
    background-color: rgb(231, 241, 237);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.activeDot {
    background-color: rgb(89, 177, 122);
}